body {
    background: #f3f3f3;
}

.fhd {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.fhd h3 {
    height: 59px;
    line-height: 59px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}

.fhd div {
    padding: 30px 50px;
    width: 900px;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.fhd-list p {
    padding-left: 18px;
    width: 882px;
    height: 48px;
    background: #efefef;
    line-height: 48px;
    font-size: 14px;
    color: #666;
    position: relative;
}

.fhd-list p span {
    display: block;
    padding-left: 26px;
    height: 48px;
    line-height: 48px;
    float: left;
    width: 60px;

}

.fhd-list p small {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    top: 16px;
    background: url("../images/checkzs.png") no-repeat;
}

.fhd-list p small.active {
    background: url("../images/checkzs.png") no-repeat 0 -26px;
}

.fhd-list p span:hover {
    cursor: pointer;
}

.fhd-list p em {
    display: inline-block;
    float: left;
    margin-right: 46px;
}

.fhd-list ul {
    padding: 20px 0 20px 18px;
    width: 882px;
    height: auto;
    overflow: hidden;
    border: #efefef 1px solid;
    margin-top: 10px;
}

.fhd-list li {
    margin-bottom: 30px;
    height: 16px;
    line-height: 16px;
    position: relative;
}

.fhd-list li:last-child {
    margin-bottom: 0;
}

.fhd-list li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/checkzs.png") no-repeat;
}

.fhd-list li i.active {
    background: url("../images/checkzs.png") no-repeat 0 -26px;
}

.fhd-list li em {
    font-size: 14px;
    color: #069;
    height: 16px;
    width: 436px;
    padding-left: 24px;
    display: inline-block;
    overflow: hidden;
}

.fhd-list li span {
    width: 288px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    color: #666;
    font-size: 14px;
    overflow: hidden;
}

.fhd-list li strong {
    font-size: 14px;
    color: #c00;
    font-weight: normal;
    width: 130px;
    height: 16px;
}

.shfs div {
    float: left;
    width: 126px;
    height: auto;
    margin: 0;
    padding: 0;
}

.shfs a {
    border: #ccc 1px solid;
    display: block;
    width: 124px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.shfs a.acive {
    background: url("../images/fp.png") no-repeat;
    border: 0;
    width: 126px;
    height: 43px;
    line-height: 43px;
}

.shfs a:hover {
    border: #069 2px solid;
    width: 122px;
    height: 39px;
    line-height: 39px;
}

.shfs a.acive:hover {
    border: none;
    width: 126px;
    height: 43px;
    line-height: 43px;
}

.shfs ul {
    width: 740px;
    height: auto;
    padding-left: 20px;
    float: left;
}

.shfs ul li {
    height: 43px;
    margin-bottom: 20px;
}

.shfs li:last-child, .shfs a:last-child {
    margin-bottom: 0;
}

.shfs ul li p {
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
    width: 740px;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}

.shfs p strong {
    font-weight: normal;
    color: #069;
}

.shfs p strong:hover {
    cursor: pointer;
}

.shfs p em, .shfs p span {
    padding-right: 22px;
}

.fhfs small {
    font-size: 14px;
    color: #999;
}

.fhfs p.address {
    font-size: 14px;
    color: #666;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0;
}

.fhfs p.address a {
    color: #069;
}

.fhfs div {
    padding: 0;
    margin-top: 52px;
    height: auto;
    overflow: visible;
}

.fhfs div span {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    display: block;
}

.fhfs div span em {
    color: #999;
}

.fhfs p {
    height: 32px;
    margin-bottom: 16px;
}

.fhfs p i {
    font-size: 14px;
    color: #999;
    width: 78px;
    text-align: left;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    float: left;
}

.fhfs p i.h62 {
    height: 62px;
    line-height: 62px;
    float: left;
    margin-top: 0;
}

.fhfs p input {
    width: 240px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 9px;
    border: #cecece 1px solid;
    margin-right: 16px;
    float: left;
}

.fhfs p input.xxdz{
    width: 474px;
}

.fhfs p.shoujh input{
    width: 180px;
}

.fhfs p textarea {
    width: 440px;
    height: 42px;
    border: #cecece 1px solid;
    padding: 10px;
    resize: none;
}

.fhfs p select{
    float: left;
    display: none;
}

.fhfs p strong {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #c00;
}

.fhfs div a {
    display: block;
    clear: both;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #069;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    margin: 50px 0 0 78px;
}

.fhfs div a:hover {
    background: #c00;
}

/*弹窗样式开始*/
.maskwrap {
    width: 100%;
    background: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    display: none;
}

.mask-main {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 670px;
    height: 388px;
    margin: -193px 0 0 -335px;
    background: #fff;
    display: none;
}

.mask-main div {
    height: 44px;
    border-bottom: #d4d4d4 1px solid;
    line-height: 44px;
    width: 100%;
    margin-bottom: 24px;
}

.mask-main div h5 {
    border-bottom: #069 2px solid;
    height: 43px;
    line-height: 43px;
    width: 168px;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    float: left;
}

.mask-main div small {
    display: block;
    float: right;
    width: 13px;
    height: 13px;
    margin: 15px 15px 0 0;
    background: url("../images/closezs.png") no-repeat;
}

.mask-main div small:hover {
    cursor: pointer;
}

.mask-main p {
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
}

.mask-main p.shoujh {
    width: 306px;
    float: left;
}

.mask-main p.guddh {
    width: 290px;
    float: left;
}

.mask-main p.guddh em {
    width: 100px;
}

.mask-main p em {
    width: 118px;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: right;
}

.mask-main p em i {
    color: #c00;
}

.mask-main p input {
    display: block;
    float: left;
    height: 30px;
    border: #d4d4d4 1px solid;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.mask-main p input.shr {
    width: 190px;
}

.mask-main p input.xxdz {
    width: 454px;
}

.mask-main p input.sjh {
    width: 164px;
}

.mask-main p input.gddh {
    width: 166px;
}

.mask-main p input.yb {
    width: 164px;
}

.mask-main select {
    display: none;
    float: left;
}

.mask-main a.baocundz {
    width: 123px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    background: #069;
    display: block;
    margin: 62px 0 0 118px;
    _margin: 22px 0 0 118px;
    *margin: 22px 0 0 118px;
    border-radius: 3px;
    clear: both;
}

.mask-main a:hover {
    background: #c00;
}

.mask-main-remove {
    width: 398px;
    height: 196px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -98px 0 0 -199px;
    background: #fff;
    z-index: 999;
    font-size: 12px;
    display: none;
}

.mask-main-remove div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: #d3d3d3 1px solid;
}

.mask-main-remove div h4 {
    width: 104px;
    float: left;
    border-bottom: #069 2px solid;
    height: 40px;
    text-align: center;
    color: #333;
    font-weight: normal;
}

.mask-main-remove div span {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url("../images/closezs.png") no-repeat;
    margin: 20px;
}

.mask-main-remove div span:hover {
    cursor: pointer;
}

.mask-main-remove p {
    margin: 36px 0 44px 0;
    width: 370px;
    padding-left: 28px;
    color: #666;
    font-size: 14px;
    display: block;
}

.mask-main-remove a {
    display: block;
    background: #008ad2;
    color: #fff;
    text-align: center;
    width: 86px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 0 22px 0 172px;
    border-radius: 5px;
}

.mask-main-remove a:hover {
    background: #c00;
}

.mask-main-remove em {
    float: left;
    color: #016797;
    height: 30px;
    line-height: 30px;
}

.mask-main-remove em:hover {
    cursor: pointer;
    color: #c00;
}

/**新增收货地址下拉样式开始**/

.fhfs div.xinengdizhi{
    margin: 0;
    padding: 0;
}
.mask-main div.xinengdizhi,.fhfs div.xinengdizhi {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 30px;
    border: 1px solid #d4d4d4;
    padding-left: 0;
    font-size: 14px;
    color: #333;
    margin-right: 16px;
    _float: left;
    *float: left;
}

.fhfs div.xinengdizhi{
    overflow: visible;
}

.mask-main div.xinengdizhi span,.fhfs div.xinengdizhi span {
    display: block;
    width: 83px;
    height: 30px;
    padding-left: 12px;
    line-height: 30px;
    text-align: left;
    background: url("http://172.16.254.31:12010/zixun/images/icon.png") no-repeat 76px -516px;
}

.mask-main div.xinengdizhi ul,.fhfs div.xinengdizhi ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 30px;
    width: 95px;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    background: #fff;
    z-index: 999;
}

.mask-main div.xinengdizhi ul li,.fhfs div.xinengdizhi ul li {
    width: 83px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: -1px;
    text-align: left;
}

.mask-main div.xinengdizhi ul li:hover,.fhfs div.xinengdizhi li:hover {
    background: #069;
    cursor: pointer;
    color: #fff;
}

/**新增收货地址下拉样式结束**/
/*弹窗样式结束*/

.mask-show {
    display: block;
}