html, body,span, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

li {
    list-style: none;
}

b, strong, em {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

textarea {
    overflow: auto;
    resize: none;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

/****header部分****/
.topzs {
    width: 100%;
    height: 104px;
    border-bottom: #2082b3 2px solid;
}

.topzs-main {
    width: 1000px;
    height: 104px;
    margin: 0 auto;
}

.topzs-main p {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #333;
}

.topzs-main p a {
    color: #069;
    padding-right: 6px;
}

.topzs-step {
    padding: 22px 0 10px 0;
    height: 36px;
    width: 100%;
}

.topzs-step a {
    display: block;
    float: left;
    width: 94px;
    height: 36px;
    margin-right: 10px;
}

.topzs-step a img {
    width: 94px;
    height: 36px;
}

.topzs-step h3 {
    float: left;
    font-size: 24px;
    color: #000;
}

.topzs-step ul {
    float: right;
    background: #f0efef;
    height: 29px;
    padding: 3px;
    border-radius: 50px;
    width: 435px;
    text-align: center;
}

.topzs-step ul li {
    float: left;
    width: 145px;
    height: 29px;
    line-height: 29px;
}

.topzs-step ul li.active-zs {
    background: #2c8dbd;
    color: #fff;
    border-radius: 50px;
}

/****header部分****/