body {
    background: #f3f3f3;
}

.wrap {
    width: 100%;
    height: auto;
    background: #f3f3f3;
}

.content {
    width: 1000px;
    height: auto;
    margin: 0 auto 58px;
}

.shrxinxi {
    width: 1000px;
    height: auto;
    overflow: auto;
}

.shrxinxi span, .content span.subtip {
    display: block;
    width: 976px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: #333;
}

.box {
    width: 948px;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding: 22px 26px 0 26px;
    position: relative;
}

.box ol {
    width: 948px;
    height: 176px;
    overflow: hidden;
    /*overflow-x: hidden;*/
    margin-bottom: 40px;
}

.boxlist {
    width: 948px;
    height: 176px;
}

.box li div {
    width: 260px;
    height: 132px;
    margin: 0 14px 14px 0;
    padding: 14px 20px;
    float: left;
    border: #dadada 1px solid;
}

.box li div:hover {
    border: #ff9936 1px solid;
}

.box li div p {
    height: 16px;
    width: 260px;
    font-size: 12px;
    color: #999;
}

.box li div p span {
    height: 16px;
    line-height: 16px;
    display: block;
    float: left;
    width: 100px;
    font-size: 12px;
    color: #069;
}

.box li div p span {
    background: none;
    color: #999;
    padding-left: 0;
}

.box li div p span:hover {
    cursor: pointer;
}

.box li div p em {
    float: right;
    height: 16px;
    display: block;
    float: right;
    width: 60px;
    text-align: right;
    margin-right: 10px;
}

.box li div p em:hover, .box li div p small:hover {
    cursor: pointer;
}

.box li div p small {
    height: 16px;
    float: right;
    display: block;
    float: right;
    width: 30px;
    text-align: right;
}

.box li div ul {
    padding-top: 14px;
    width: 260px;
    height: 106px;
}

.box li div ul li {
    font-size: 14px;
    width: 260px;
    color: #333;
    margin-botom: 6px;
}

.box li div ul li {
    color: #999;
}

.box li div:hover li {
    color: #333;
}

.box li div.adresslist-active {
    background: url("../images/addressacive.png") no-repeat;
    border: 0;
}

.box li div.adresslist-active li {
    color: #333;
}

.box li div.adresslist-active span {
    background: url("../images/address.png") no-repeat;
    padding-left: 16px;
    color: #2c8dbd;
}

.add {
    position: absolute;
    width: 932px;
    height: 14px;
    clear: both;
    left: 26px;
    bottom: 16px;
    background: #fff;
}

.add a {
    display: block;
    color: #069;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}

.add a.showall {
    width: 88px;
    float: left;
    background: url("../images/icondefault.png") no-repeat 74px 5px;
}

.add a.showall-active {
    width: 88px;
    float: left;
    background: url("../images/icondefault.png") no-repeat 74px -19px;
}

.add a.showall-active:hover {
    background: url("../images/iconactive.png") no-repeat 75px -19px;
    color: #c00;
}

.add a.showall:hover {
    background: url("../images/iconactive.png") no-repeat 75px 5px;
    color: #c00;
}

.add a.newadd {
    width: 90px;
    float: right;
    text-align: right;
    background: url("../images/icondefault.png") no-repeat 0 -51px;
}

.add a.newadd:hover {
    background: url("../images/iconactive.png") no-repeat 1px -51px;
    color: #c00;
}

.fpiao {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.fpiao p {
    width: 100%;
    height: 90px;
}

.fpiao p a {
    border: #ccc 1px solid;
    display: inline-block;
    width: 124px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 23px 0 0 29px;
}

.fpiao p a.fpactive {
    background: url("../images/fp.png") no-repeat;
    border: 0;
    width: 126px;
    height: 43px;
    line-height: 43px;
}

.fpiao p a.fpactive:hover {
    border: none;
    width: 126px;
    height: 43px;
    line-height: 43px;
}

.fpiao p a:hover {
    border: #069 2px solid;
    width: 122px;
    height: 39px;
    line-height: 39px;
}

.fpiao div.hide {
    display: none;
}

.zengzs, .creatzzs, .ptfapiao, .creatpt {
    width: 588px;
    height: 356px;
    margin-left: 48px;
}

.ptfapiao, .creatpt {
    margin-left: 0;
    height: 124px;
}

.zengzs p, .creatzzs p, .ptfapiao p, .creatpt p {
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
}

.zengzs p em, .creatzzs p em, .ptfapiao p em, .creatpt p em {
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    display: inline-block;
    color: #666;
}

.zengzs p em i {
    color: #c00;
    width: 6px;
    height: 6px;
}

.zengzs p input, .creatzzs p span, .ptfapiao p input, .creatpt p span {
    width: 438px;
    height: 30px;
    line-height: 30px;
    border: #cecece 1px solid;
    padding: 0 10px;
    margin-left: 18px;
    font-size: 14px;
    color: #666;
}

.creatzzs p span, .creatpt p span {
    height: 32px;
    line-height: 32px;
    border: 0;
}

.zengzs a, .creatzzs a, .ptfapiao a, .creatpt a {
    display: block;
    float: left;
    width: 86px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
}

.zengzs a.baocun, .creatzzs a.baocun, .ptfapiao a.baocun, .creatpt a.baocun {
    background: #008bd1;
    margin: 0 16px 0 128px;
}

.zengzs a.baocun:hover, .creatzzs a.baocun:hover, .ptfapiao a.baocun:hover, .creatpt a.baocun:hover {
    background: #c00;
}

.zengzs a.quxiao, .ptfapiao a.quxiao {
    background: #ccc;
}

.zengzs a.quxiao:hover, .ptfapiao a.quxiao:hover {
    background: #929091;
}

.sure {
    width: 1000px;
    height: auto;
    background: #fff;
}

.subnav {
    height: 40px;
    line-height: 40px;
    border-bottom: #069 1px solid;
    font-size: 14px;
    color: #333;
    width: 1000px;
    padding-top: 8px;
}

.subnav i {
    background: url("../images/icondefault.png") no-repeat 0 -82px;
    line-height: 40px;
    margin-left: 32px;
    padding-left: 22px;
    font-size: 14px;
    color: #333;
}

.surelist {
    width: 1000px;
    height: 154px;
    background: #fff;
    position: relative;
}

.surelist i.pai {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 34px;
    top: 28px;
    background: #468e3d;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
}

.list-left {
    width: 530px;
    height: 154px;
    float: left;
}

.list-left img {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    margin: 28px 26px 48px 47px;
}

.list-left a.title {
    display: block;
    float: left;
    width: 214px;
    display: block;
    font-size: 14px;
    color: #069;
    overflow: hidden;
    height: 34px;
    line-height: 17px;
    margin: 28px 0 14px 0;
}

.list-left span {
    color: #999;
    font-size: 12px;
    display: block;
    width: 370px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 24px;
}

.list-left span em {
    width: 64px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border: #ff9147 1px solid;
    display: inline-block;
    margin-left: 12px;
}

.list-left p {
    height: 16px;
    line-height: 16px;
    width: 300px;
    float: left;
}

.list-left p a {
    clear: both;
    font-size: 12px;
    color: #666;
    padding-left: 20px;
    margin-right: 22px;
}

.list-left p a.list-remove {
    background: url("../images/icondefault.png") no-repeat 0 -124px;
}

.list-left p a.list-remove:hover {
    background: url("../images/iconactive.png") no-repeat 0 -124px;
    color: #c00;
}

.list-left p a.list-back {
    background: url("../images/icondefault.png") no-repeat 0 -161px;
}

.list-left p a.list-back:hover {
    background: url("../images/iconactive.png") no-repeat 0 -161px;
    color: #c00;
}

.list-center {
    width: 190px;
    height: 129px;
    float: left;
    padding-top: 25px;
    position: relative;
}

.list-center strong {
    float: left;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    height: 27px;
    line-height: 27px;
}

.list-center a {
    width: 27px;
    height: 27px;
    float: left;
}

.list-center span {
    width: 58px;
    height: 25px;
    border: #e3e3e3 1px solid;
    border-left: 0;
    float: left;
    background: #fff;
    text-align: center;
    color: #666;
    font-size: 16px;
}

.list-center a.jia {
    background: url("../images/push.png") no-repeat 0 -37px;
}

.list-center a.jian {
    background: url("../images/push.png") no-repeat;
}

.list-center a.active {
    background: url("../images/push.png") no-repeat 0 -74px;
}

.list-center small {
    width: 180px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #666;
    margin-top: 32px;
    text-align: center;
    display: block;
    overflow: hidden;
}

.list-center p {
    width: 100px;
    height: 42px;
    padding: 7px 0;
    background: url("../images/tipszs.png") no-repeat;
    position: absolute;
    left: 45px;
    top: -34px;
    display: none;
}

.list-center p:hover {
    cursor: pointer;
}

.list-center p em {
    display: block;
    width: 100px;
    text-align: center;
    color: #c00;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 4px;
}

.list-center p i {
    display: block;
    width: 100px;
    text-align: center;
    color: #069;
    font-size: 12px;
    line-height: 14px;
}

.xinjiage {
    width: 232px;
    border: #d4d4d4 1px solid;
    -moz-box-shadow: 0px 0px 10px #d4d4d4;
    -webkit-box-shadow: 0px 0px 10px #d4d4d4;
    box-shadow: 0px 0px 10px #d4d4d4;
    position: absolute;
    left: 310px;
    bottom: 0;
    background: #fff;
    z-index: 900;
    display: none;
}

.xinjiage div {
    height: 36px;
    width: 100%;
    border-bottom: #d4d4d4 1px solid;
}

.xinjiage h5 {
    width: 82px;
    text-align: center;
    line-height: 35px;
    font-weight: normal;
    height: 35px;
    font-size: 14px;
    border-bottom: #069 2px solid;
    float: left;
}

.xinjiage span {
    width: 13px;
    height: 13px;
    display: block;
    float: right;
    margin: 13px;
    background: url("../images/closezs.png") no-repeat;
}

.xinjiage strong{
    width: 210px;
    padding: 0 10px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    margin: 10px 0;
    font-weight: normal;
    display: block;
    font-size: 14px;
}


.xinjiage p {
    padding: 0 10px;
    width: 210px;
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
}

.xinjiage span:hover{
    cursor: pointer;
}

.list-right {
    width: 230px;
    height: 154px;
    float: left;
    text-align: right;
}

.list-right p {
    font-size: 18px;
    color: #333;
    margin: 24px 0 64px 0;
}

.list-right span {
    font-size: 16px;
    color: #333;
}

.linear {
    width: 100%;
    height: 1px;
    display: block;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    border: 0;
}

.liuyan {
    width: 1000px;
    height: 230px;
    border-top: #eee 2px solid;
}

.liuyan-left {
    width: 500px;
    float: left;
    height: 230px;
    position: relative;
}

.liuyan-left p {
    font-size: 14px;
    color: #666;
    margin: 32px 0 10px 0;
    padding-left: 48px;
}

.liuyan-left textarea {
    margin-left: 48px;
    width: 348px;
    height: 88px;
    resize: none;
    padding: 16px;
    border: #ccc 1px solid;
    color: #ccc;
    font-size: 12px;
}

.liuyan-left div {
    position: absolute;
    right: 92px;
    bottom: 54px;
    font-size: 12px;
    color: #ccc;
    width: 352px;
    background: #fff;
    text-align: right;
}

.liuyan-right {
    width: 450px;
    height: 202px;
    float: left;
    padding: 32px 50px 0 0;
}

.fhuofs {
    width: 190px;
    height: 32px;
    float: left;
    margin-bottom: 6px;
}

.fhuofs select {
    display: none;
}

.fhuofs em, .hjyf em, .yunfzf em, .youhq em {
    width: 64px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    display: inline-block;
    font-size: 14px;
    color: #333;
    padding-right: 22px;
    float: left;
}

.hjyf {
    width: 186px;
    float: right;
    margin-bottom: 6px;
}

.hjyf input {
    display: inline-block;
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
    border: #e8e6e6 1px solid;
}

.yunfzf {
    width: 190px;
    margin-bottom: 6px;
}

.yunfzf select {
    display: none;
}

.youhq {
    width: 450px;
    float: left;
    height: auto;
    margin-bottom: 6px;

}

.youhq select {
    height: 30px;
    width: 360px;
    display: none;
}

.youhq small {
    font-size: 12px;
    color: #c00;
    display: block;
    width: 430px;
    text-align: right;
    padding: 6px 0 0 10px;
}

.shif {
    width: 445px;
    height: auto;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-top: 70px;
}

.shif i {
    color: #c00;
    font-size: 20px;
    margin-left: 8px;
}

.shif b {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    display: block;
    width: 445px;
    margin-top: 8px;
}

/*确认采购信息部分自定义下拉样式开始*/
.my-select {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 30px;
    border: 1px solid #d5d5d5;
    padding-left: 0;
    font-size: 14px;
    color: #666;
    *left: 60px;
    *top: -20px;
    -left: 60px;
    -top: -20px;
    *clear: both;
    _celar: both;
    *margin-top: -10px;
    _margin-top: -10px;
    *margin-left: 15px;
    _margin-left: 15px;
}

.my-select span {
    display: block;
    width: 83px;
    height: 30px;
    padding-left: 12px;
    line-height: 30px;
    text-align: left;
    z-index: 990;
    background: url("http://172.16.254.31:12010/zixun/images/icon.png") no-repeat 78px -516px;
}

.my-select ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 30px;
    width: 95px;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    background: #fff;
    z-index: 999;
}

.my-select ul li {
    width: 83px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: -1px;
    text-align: left;
}

.my-select ul li:hover {
    background: #069;
    cursor: pointer;
    color: #fff;
}

.youhq div.my-select {
    height: 30px;
    width: 360px;
}

.youhq div.my-select span {
    width: 360px;
    background: url("http://172.16.254.31:12010/zixun/images/icon.png") no-repeat 340px -516px;
}

.youhq div.my-select ul {
    width: 360px;
}

.youhq div.my-select ul li {
    width: 360px;
}

/*确认采购信息部分自定义下拉样式结束*/

.qujies {
    width: 1000px;
    background: #fff;
    height: 75px;
    border-top: #069 3px solid;
    padding: 40px 0 55px 0;
}

.qujies div {
    height: 74px;
    background: #ddd;
    border-bottom: #c8c8c8 1px solid;
    padding-left: 300px;
}

.qujies p {
    width: 270px;
    height: 74px;
    line-height: 74px;
    float: left;
    font-size: 14px;
    color: #333;
}

.qujies p span {
    font-size: 18px;
    color: #c00;
}

.qujies p i {
    font-size: 24px;
    color: #c00;
}

.qujies a {
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #069;
    margin-top: 8px;
    padding-right: 28px;
    text-align: right;
    width: 970px;
}

.qujies a:hover {
    color: #c00;
}

.qujies div em {
    display: block;
    float: left;
    width: 160px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: #fff;
    background: #c00;
    font-size: 22px;
}

.qujies div em:hover {
    cursor: pointer;
    background: #f95a5a;
}

.maskwrap {
    width: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
}

.mask-main {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 670px;
    height: 388px;
    margin: -193px 0 0 -335px;
    background: #fff;
    display: none;
}

.mask-main div {
    height: 44px;
    border-bottom: #d4d4d4 1px solid;
    line-height: 44px;
    width: 100%;
    margin-bottom: 24px;
}

.mask-main div h5 {
    border-bottom: #069 2px solid;
    height: 43px;
    line-height: 43px;
    width: 168px;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    float: left;
}

.mask-main div small {
    display: block;
    float: right;
    width: 13px;
    height: 13px;
    margin: 15px 15px 0 0;
    background: url("../images/closezs.png") no-repeat;
}

.mask-main div small:hover {
    cursor: pointer;
}

.mask-main p {
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
}

.mask-main p.shoujh {
    width: 306px;
    float: left;
}

.mask-main p.guddh {
    width: 290px;
    float: left;
}

.mask-main p.guddh em {
    width: 100px;
}

.mask-main p em {
    width: 118px;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: right;
}

.mask-main p em i {
    color: #c00;
}

.mask-main p input {
    display: block;
    float: left;
    height: 30px;
    border: #d4d4d4 1px solid;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.mask-main p input.shr {
    width: 190px;
}

.mask-main p input.xxdz {
    width: 454px;
}

.mask-main p input.sjh {
    width: 164px;
}

.mask-main p input.gddh {
    width: 166px;
}

.mask-main p input.yb {
    width: 164px;
}

.mask-main select {
    display: none;
    float: left;
}

.mask-main a.baocundz {
    width: 123px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    background: #069;
    display: block;
    margin: 62px 0 0 118px;
    _margin: 22px 0 0 118px;
    *margin: 22px 0 0 118px;
    border-radius: 3px;
    clear: both;
}

.mask-main a:hover {
    background: #c00;
}

.mask-main-remove {
    width: 398px;
    height: 196px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -98px 0 0 -199px;
    background: #fff;
    z-index: 999;
    font-size: 12px;
    display: none;
}

.mask-main-remove div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: #d3d3d3 1px solid;
}

.mask-main-remove div h4 {
    width: 104px;
    float: left;
    border-bottom: #069 2px solid;
    height: 40px;
    text-align: center;
    color: #333;
    font-weight: normal;
}

.mask-main-remove div span {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url("../images/closezs.png") no-repeat;
    margin: 20px;
}

.mask-main-remove div span:hover {
    cursor: pointer;
}

.mask-main-remove p {
    margin: 36px 0 44px 0;
    width: 370px;
    padding-left: 28px;
    color: #666;
    font-size: 14px;
    display: block;
}

.mask-main-remove a {
    display: block;
    background: #008ad2;
    color: #fff;
    text-align: center;
    width: 86px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 0 22px 0 172px;
    border-radius: 5px;
}

.mask-main-remove a:hover {
    background: #c00;
}

.mask-main-remove em {
    float: left;
    color: #016797;
    height: 30px;
    line-height: 30px;
}

.mask-main-remove em:hover {
    cursor: pointer;
    color: #c00;
}

/**新增收货地址下拉样式开始**/
.mask-main div.xinengdizhi {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 30px;
    border: 1px solid #d4d4d4;
    padding-left: 0;
    font-size: 14px;
    color: #333;
    margin-right: 16px;
    _float: left;
    *float: left;
}

.mask-main div.xinengdizhi span {
    display: block;
    width: 95px;
    height: 30px;
    padding-left: 12px;
    line-height: 30px;
    text-align: left;
    background: url("http://172.16.254.31:12010/zixun/images/icon.png") no-repeat 76px -516px;
}

.mask-main div.xinengdizhi ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 30px;
    width: 95px;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    background: #fff;
    z-index: 999;
}

.mask-main div.xinengdizhi ul li {
    width: 95px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    margin-bottom: -1px;
    text-align: left;
}

.mask-main div.xinengdizhi ul li:hover {
    background: #069;
    cursor: pointer;
    color: #fff;
}

/**新增收货地址下拉样式结束**/

/*库存不足提示弹框样式开始*/
.kucunbz{
    width: 398px;
    height: 196px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -98px 0 0 -199px;
    z-index: 999;
    -moz-box-shadow: 0px 0px 10px #d4d4d4;
    -webkit-box-shadow: 0px 0px 10px #d4d4d4;
    box-shadow: 0px 0px 10px #d4d4d4;
    background: #fff;
    display: none;
}

.kucunbz div{
    height: 36px;
    width: 100%;
    border-bottom: #d4d4d4 1px solid;
}

.kucunbz div h5{
    width: 82px;
    text-align: center;
    line-height: 35px;
    font-weight: normal;
    height: 35px;
    font-size: 14px;
    border-bottom: #069 2px solid;
    float: left;
}

.kucunbz div span{
    width: 13px;
    height: 13px;
    display: block;
    float: right;
    margin: 13px;
    background: url("../images/closezs.png") no-repeat;
}

.kucunbz div span:hover{
    cursor: pointer;
}

.kucunbz p{
    height: 84px;
    line-height: 84px;
    font-size: 14px;
    color: #666;
    width: 376px;
    padding-left: 22px;
}

.kucunbz p em{
    color: #c00;
    padding: 0 2px;
}

.kucunbz a{
    width: 86px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #069;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 160px;
    display: inline-block;
}

.kucunbz a:hover{
    background: #c00;
}

/*库存不足提示弹框样式结束*/















